@import url('style.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');


.edit-post-visual-editor.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper .editor-post-title .editor-post-title__block .editor-post-title__input {
    font-family: 'Roboto', sans-serif;
    color: #183c55;
}

.editor-styles-wrapper ul li {
    margin-bottom: 0.5rem !important;
}
