@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    color: #183c55;
}
body.admin-bar {
    padding-top: 46px;
}

#wpadminbar {
    position: fixed;
}
.admin-bar nav.fixed-top {
    top: 46px;
}
.navbar-brand .navbar-logo {
    height: 48px;
    width: 150px;
}
@media all and (min-width: 992px) {
    .admin-bar nav.fixed-top {
        top: 32px;
    }
    nav.fixed-top {
        padding: 0;
    }
    .main-nav-nav .navbar-nav .nav-item .nav-link,
    .main-nav-nav .navbar-nav .dropdown-menu a {
        font-size: 13px;
    }
    .main-nav-nav .navbar-nav .nav-item .nav-link {
        color: #183c55;
        font-weight: 500;
        border-bottom: 3px solid transparent;
        line-height: 41px;
        padding: 0.5rem 0.8rem;
        text-transform: uppercase;
    }
    .main-nav-nav .navbar-nav .dropdown-menu a {
        font-weight: 400;
    }
    .main-nav-nav .navbar-nav .nav-item.active .nav-link,
    .main-nav-nav .navbar-nav .nav-item.current_page_ancestor .nav-link,
    .main-nav-nav .navbar-nav .nav-item .nav-link:hover,
    .main-nav-nav .navbar-nav .nav-item .nav-link:focus {
        border-color: #4986e7;
    }
    .navbar .new-order-btn {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
}


#main_navbar .wpdreams_asl_container .probox {
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
    margin-left: 0;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#main_navbar .wpdreams_asl_container .probox .proinput {
    padding: 0;
    margin: 0;
    -webkit-transition: padding 0.4s ease-in-out, margin 0.2s ease-in-out;
    transition: padding 0.4s ease-in-out, margin 0.2s ease-in-out;
}
#main_navbar .wpdreams_asl_container .probox form input {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #183c55;
    border-bottom: 2px solid transparent !important;
    border-radius: 0 !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#main_navbar .wpdreams_asl_container .probox form input:focus {
    border-color: #4986e7 !important;
}
#main_navbar .wpdreams_asl_container .probox form input::-webkit-input-placeholder,
#main_navbar .wpdreams_asl_container .probox form input:-moz-placeholder,
#main_navbar .wpdreams_asl_container .probox form input::-moz-placeholder,
#main_navbar .wpdreams_asl_container .probox form input:-ms-input-placeholder {
    color:transparent;
}
#main_navbar .wpdreams_asl_container .probox .prosettings,
#main_navbar .wpdreams_asl_container .probox .proloading,
#main_navbar .wpdreams_asl_container .probox .proclose {
    display: none !important;
}
@media all and (min-width: 992px) {
    #main_navbar div[id*='ajaxsearchlite'].wpdreams_asl_container {
        width: 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    #main_navbar div[id*='ajaxsearchlite'].wpdreams_asl_container.ngifocus {
        width: 400px;
    }
    #main_navbar .wpdreams_asl_container .probox {
        width: 40px;
    }
    #main_navbar .wpdreams_asl_container.ngifocus .probox {
        width: 400px;
    }
    #main_navbar .wpdreams_asl_container.ngifocus .probox .proinput {
        padding: 0 5px;
        margin: 0 0 0 10px;
    }
    #main_navbar .wpdreams_asl_container .probox form input {
        width: 0px;
    }
    #main_navbar .wpdreams_asl_container.ngifocus .probox form input {
        width: 350px;
    }
}



footer {
    background-color: #f8f9fa;
    padding: 4rem 0 3rem;
    margin-top: 8rem;
}

.main-page {
    margin-top: 40px;
}
.main-page > .h1,
.main-page > .h2,
.main-page > .h3,
.main-page > .h4,
.main-page > .h5,
.main-page > .h6,
.main-page > h1,
.main-page > h2,
.main-page > h3,
.main-page > h4,
.main-page > h5,
.main-page > h6 {
    margin-top: 2rem;
}



.homepage-applications {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 1.5rem 0;
}
.homepage-applications .homepage-application {
    width: 100%;
}
.homepage-applications .homepage-application a,
#front-page-container .homepage-applications .wpdreams_asl_container .probox {
    display: block;
    background-color: #e7ecf7;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 3rem;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    border: none;
}
.homepage-applications .homepage-application a,
#front-page-container .homepage-applications .wpdreams_asl_container .probox form input {
    font-size: 21px;
    color: #183c55;
    line-height: 3rem;
    text-decoration: none;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox {
    height: 48px;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox .promagnifier,
#front-page-container .homepage-applications div.asl_m .probox .proclose svg,
#front-page-container .homepage-applications div.asl_w .probox div.prosettings {
    background-image: none;
    border: 0;
    border-radius: 0 0 0 0;
    box-shadow: none;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox .promagnifier {
    float: left;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox .promagnifier,
#front-page-container .homepage-applications div.asl_w .probox .proloading,
#front-page-container .homepage-applications div.asl_w .probox .proclose,
#front-page-container .homepage-applications div.asl_w .probox .prosettings {
    width: 48px;
    height: 48px;
}
#front-page-container .homepage-applications div.asl_w .probox .proclose svg {
    background: #4a89bf;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox .promagnifier .innericon svg {
    width: 35px;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox .proinput {
    width: calc(100% - 120px);
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox .proinput input {
    height: 48px;
}
#front-page-container .homepage-applications .wpdreams_asl_container .probox:focus-within,
#front-page-container .homepage-applications .wpdreams_asl_container .probox:hover,
.homepage-applications .homepage-application a:hover,
.homepage-applications .homepage-application a:focus,
.homepage-applications .homepage-application a:active {
    background-color: #c8d3ea;
}
.homepage-applications .homepage-application a .application-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    float: left;
    margin: -0.5rem;
    margin-right: 1.5rem;
    display: block;
    background-color: #5886e0;
    overflow: hidden;
    text-align: center;
    display: flex;
}
.homepage-applications .homepage-application a .application-icon svg {
    width: 40px;
    height: 40px;
    margin: auto;
    fill: #e8ecf6;
}
.homepage-applications .homepage-application a:hover svg,
.homepage-applications .homepage-application a:focus svg,
.homepage-applications .homepage-application a:active svg {
    fill: #ffffff;
}
@media all and (min-width: 600px) {
    .homepage-applications .homepage-application {
        width: 50%;
    }
    .homepage-applications .homepage-application:nth-child(odd) a {
        text-align: right;
        margin-right: 0.5rem;
    }
    .homepage-applications .homepage-application:nth-child(even) a {
        margin-left: 0.5rem;
    }
    .homepage-applications .homepage-application:nth-child(odd) a .application-icon {
        float: right;
        margin: -0.5rem;
        margin-left: 1.5rem;
    }
}


.ngisweden-application-methods {
    margin-bottom: 1.5rem;
    font-size: 80%;
}
